<h2 class="title is-4">Actualizar Perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "box", multipart: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Nombre -->
  <div class="field">
    <%= f.label :name, 'Nombre', class: "label" %>
    <div class="control">
      <%= f.text_field :name, class: "input" %>
    </div>
  </div>

  <!-- Email -->
  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="notification is-warning">
      Esperando confirmación para: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <!-- Experiencia -->
  <div class="field">
    <%= f.label :experience_years, 'Experiencia (años)', class: "label" %>
    <div class="control">
      <%= f.number_field :experience_years, class: "input" %>
    </div>
  </div>

  <!-- Nivel de Educación -->
  <div class="field">
    <%= f.label :education_level, 'Nivel educativo', class: "label" %>
    <div class="control">
      <%= f.text_field :education_level, class: "input" %>
    </div>
  </div>

  <!-- Cargo anterior -->
  <div class="field">
    <%= f.label :previous_positions, 'Cargo Actual', class: "label" %>
    <div class="control">
      <%= f.text_area :previous_positions, class: "textarea" %>
    </div>
  </div>

  <!-- Password -->
  <div class="field">
    <%= f.label :password, class: "label" %> <i>(déjalo en blanco si no quieres cambiarlo)</i>
    <div class="control">
      <%= f.password_field :password, class: "input", autocomplete: "new-password" %>
    </div>
    <% if @minimum_password_length %>
      <p class="help is-info"><%= @minimum_password_length %> caracteres mínimo</p>
    <% end %>
  </div>

  <!-- Confirmación de Password -->
  <div class="field">
    <%= f.label :password_confirmation, 'Confirma tu password', class: "label" %>
    <div class="control">
      <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
    </div>
  </div>

  <!-- Current password -->
  <div class="field">
    <%= f.label :current_password, 'Password actual', class: "label" %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i>
    <div class="control">
      <%= f.password_field :current_password, class: "input", autocomplete: "current-password" %>
    </div>
  </div>

  <!-- Image Profile -->
  <div class="field">
    <%= f.label :image_profile, 'Imagen de Perfil Actual', class: "label" %>
    <div class="control">
      <% if @user.image_profile.attached? %>
        <%= image_tag @user.image_profile.variant(resize_to_fill: [200, 200]) %>
      <% else %>
        <%= image_tag 'default_profile.png', size: "200x200" %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :image_profile, 'Subir imagen de perfil', class: "label" %>
    <div class="control">
      <%= f.file_field :image_profile, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Actualizar", class: "button is-primary" %>
    </div>
  </div>
<% end %>

<!-- Cancel account -->
<h3 class="title is-5">Cancelar mi cuenta</h3>

<div class="notification is-danger">
  <%= button_to "Eliminar mi cuenta", registration_path(resource_name), class: "button is-danger", data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete %>
</div>

<!-- Back link -->
<%= link_to "Volver", :back, class: "button is-light" %>
