<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container" style="max-width: 70%; margin: auto;">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag "Logo2ctrn.png", alt: "Inicio", width: "30", height: "30" %>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="<%= root_path %>">Inicio</a>
        <% if user_signed_in? %>
          <!-- Solo mostrar el enlace de nueva oferta si el usuario es admin -->
          <% if current_user.admin? %>
            <a class="navbar-item" href="<%= new_job_offer_path %>">Publicar Oferta de Trabajo</a>
          <% end %>
        <% end %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <% if user_signed_in? %>
            <p>Bienvenido a 2C Gestión Inmobiliaria, <%= current_user.name %></p>
            <div class="buttons">
              <!-- Mostrar "Actualizar Perfil" solo si es un usuario normal -->
              <% if current_user.normal_user? %>
                <%= link_to 'Actualizar Perfil', edit_user_registration_path, class: 'button is-link' %>
              <% end %>

              <!-- Mostrar "Ver Perfiles" solo si es un administrador -->
              <% if current_user.admin? %>
                <%= link_to 'Ver Perfiles', admin_users_path, class: 'button is-link' %>
              <% end %>

              <!-- Solo mostrar "Registrar" si es administrador -->
              <% if current_user.admin? %>
                <%= link_to 'Registrar Usuario', new_user_registration_path, class: 'button is-primary' %>
              <% end %>

              <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'button is-light' %>
            </div>
          <% else %>
            <div class="buttons">
              <%= link_to 'Iniciar sesión', new_user_session_path, class: 'button is-light' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>

