<h2 class="title is-4">Lista de Usuarios</h2>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <div class="buttons">
            <%= link_to 'Editar', edit_admin_user_path(user), class: 'button is-small is-link' %>
            <%= button_to 'Eliminar', admin_user_path(user), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'button is-small is-danger' %>
            <%= link_to 'Postulaciones', admin_user_path(user), class: 'button is-small is-info' %>
            <% if user.job_applications.exists?(checked: false) %>
              <%= link_to 'Nueva Postulación', admin_user_path(user), class: 'button is-small is-warning' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
